html{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: aliceblue;
}

body{
    margin: 0;
    padding: 0;
}

.icon{
    width: 20px;
    height: 20px;
}

ul{
    /* list-style: none; */
    list-style-image: url(/images/briefcase.png);
}


.pfp{
    height: 200px;
    width: 200px;
    background-color: #50768F;
    padding: 10px;
    /* align-self:flex-end; */
}

.header{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.header > h1{
    background-color: aliceblue;
    padding-left: 10px;
    /* padding: 25px; */
    font-size: 250%;
    align-self: center;
    width: 307px;
}

.content{
    display: flex;
    flex-direction: row;
    background-color: #50768F;
    /* margin: 10px; */
    /* border-radius: 5px; */
}

.experienceList{
    margin: 10px;
    padding: 5%;
    background-color: aliceblue;
    /* border-radius: 4px; */
    width: 70%;
}

h3{
    color: #29a2f3f8;
}


 h1{
    color: #5CBEFF;
}

 h2{
    color: #29a2f3f8;
}

.bio{
    align-self: flex-start;
    margin: 10px;
    padding: 40px;
    background-color: aliceblue;
    width: 545px;
    height: fit-content;
    /* border-radius: 4px; */
}

.menuButton{
    border-radius: 0px;
    background-color: #50768F;
    -webkit-transition: background-color .6s;
    flex-grow: 2;
    padding-top: 52px;
    padding-bottom: 52px;
    justify-content: center;
    display: flex;
    
}

.menuButton:hover{
    background-color: aliceblue;
    border-color: none;
    cursor: pointer;
}

.menuButton > img{
    height: 100px;
    width: 100px;
    margin: 8px;
}

#icon{

}



@media only screen and (max-width: 600px){
    .content{
        flex-wrap: wrap;
    }

    .bio{
        width: fit-content;
    }
    
    .header{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: #50768F;
    }

    .header > h1{
        background-color: #50768F;
    }

    .pfp{
        align-self: center;
    }
    
    .menuButton{
        padding: 0;
    }
}

